body {
    background: url(pexels-pixabay-326311.jpg);
    background-position: contain;
    background-size: 100%;

}
.links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.link1 {
    color: lightcyan;
    background-color:black;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s ease;
    text-decoration: none;
    margin: 10px;
}

.link2 {
    color:lightcyan;
    background-color:black;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s ease;
    text-decoration: none;
    margin:10px;
}

.link1:hover {
    font-size: 48px;
}

.link2:hover {
    font-size: 48px;
}